@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@1,300;1,400&display=swap');
*{
	margin: 0;
	padding: 0;
	font-family: 'Titillium Web', sans-serif;
}

html{
	font-size: 62.5%;
}
.header1{
	background: linear-gradient(blue,orange);
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.divLogo{
    width: 30%;
}
.divLogo img{
    width: 40%;
}
nav{
    width: 40%;
}
ul{
      display: flex;
      justify-content: space-around;
      align-items: center; 
}
li{
    list-style: none;
}
ul li a{
    text-decoration: none;
        color: white;
        font-size: 1.5rem;
        /*subrayado piola*/
        background-image: linear-gradient(currentColor,currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .3s;
          }

    ul li a:hover{
        color: black;
        font-weight: 600;
        /*subrayado piola*/
        background-size: 100% 2px;
    }
    h1:hover{
        	font-size: 3.5rem;
        	border: 2px deeppink;
           transform: translateY(10px);
            cursor: pointer;
            transition: 3s;
            
        }
    h2:hover{
        	font-size: 2.7rem;
            transform: scaleX(1.11);
            cursor: pointer;
            transform: 2s;

        }
    h3{
        	font-size: 2rem;
        }
    h4{
            font-size: 2rem;
        }
    h5{
            font-size: 2rem;
        }
        h1,
        h2,
        h3
        h4{
        	text transform: uppercase;
        	margin-bottom: 20px;
        }

    section{
 	   padding: 30px 100px;
 }
             section p{
        	font-size: 1.8rem;
        	line-height: 2rem;
        }
        section label{
            font-size: 1.8rem;
            line-height: 2rem;
        }
        section input{
            font-size: 1.8rem;
            line-height: 2rem;
        }
        form{
            font-size: 3rem;
            line-height: 2rem;
        }
            form input{
                font-size: 3rem;
                line-height: 2rem;
            }
    footer{
            text-align: center;
            background: linear-gradient(#314450,#CFDEE7);
        }
    .divRedes{
        width: 40%;
        align-items: center;
        display: inline-flex;
    }        
    .divRedes img{
        width: 40%;

    }

        /*selectores de clase*/

        .textCenter{
        	text-align: center;
        }

        .textBold{
        	font-weight: 500;
        }

        .textregular{
        	font-weight: 400;
        }
        .textWhite{
        	color: white;
        }
        .textBlack{
            color: black;
        }
        .bgBlue{
        	background-color: rgb(0, 200, 200);
        }

        .bgLight{
        	background-color: gray;

        }
        .bgRed{
            background-color: rgb(200, 0, 0);
        }
        .bgYellow{
            background-color: rgb(200, 200, 0);
        }
        @keyframes imgAnimation{
            0%{background-image: url(../img/animacion.jpg);}
            25%{background-image: url(../img/animacion2.webp);}
            50%{background-image: url(../img/animacion3.jpeg);}
            75%{background-image: url(../img/animacion4.jpg);}
            100%{background-image: url(../img/animacion5.jpg);}

        }
        .divAnimacion{
            height: 40vh;
            animation-name: imgAnimation;
            animation-duration: 7s;
            animation-iteration-count: infinite;
            background-size: cover;

        }


     