<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EL GALPON-Productos de limpieza</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
	<header class="header1">
		<div class="divLogo">
			<a href="../index.html">
		<img src="../img/logo.png" alt="logo de EL GALPON productos de limpieza">
		</a>
		</div>
		<nav>
		 <ul>
			<li>
				<a href="../views/productos.html">Productos</a>
			</li>
			<li>
				<a href="../views/promociones.html">Promociones</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	</header>
	
	<!-- ends header-->
	<main class="textCenter">
		<section>
			<h1>Sobre Nosotros</h1>
			<p>Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Dolorum maxime adipisci neque nobis aperiam vitae vel, rem praesentium excepturi ad, nemo dolore, mollitia perferendis quaerat rerum eum minima corporis perspiciatis.Lorem ipsum, dolor sit amet consectetur, adipisicing elit. Dolorum maxime adipisci neque nobis aperiam vitae vel, rem praesentium excepturi ad, nemo dolore, mollitia perferendis quaerat rerum eum minima corporis perspiciatis.</p>
		</section>

		<section class="bgBlue textWhite">
			<h2>Nuestra Historia</h2>
			<img src="../img/nosotros.webp" alt="">
			<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, vitae accusamus molestiae soluta placeat, quibusdam provident voluptas. Numquam, doloribus reiciendis omnis, dolore ipsam ducimus impedit accusamus? Blanditiis natus veniam ducimus.Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatibus, vitae accusamus molestiae soluta placeat, quibusdam provident voluptas. Numquam, doloribus reiciendis omnis, dolore ipsam ducimus impedit accusamus? Blanditiis natus veniam ducimus.</p>
		</section>
		<section></section>
		<!--ends form-->
		<section>
			<h3>Donde Encontrarnos</h3>
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3283.826137567845!2d-58.3742136!3d-34.6085577!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bccad30f1e99f9%3A0x6360cf5001796fd6!2sAv.%20de%20Mayo%20545%2C%20C1084AAA%20CABA!5e0!3m2!1ses-419!2sar!4v1653705952467!5m2!1ses-419!2sar" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
		</section>
		<!--ends map-->
    </main>
    <footer >
    	<h4>Seguinos en nuestras redes</h4>
    	<div class="divRedes">
    		<a href="https://www.facebook.com" target="_blank">
    		<img src="../img/facebook.png" alt="">
    	</a>
        
    	<a href="https://www.twitter.com" target="_blank">
    		<img src="../img/twitter.png" alt="">
    	</a>
    	</div>
    </footer>
</body>