<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EL GALPON-Productos de limpieza</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body class="body1">
   <header class="header1">
	<div class="divLogo">
		<a href="../index.html">
		<img src="../img/logo.png" alt="logo de EL GALPON productos de limpieza">
		</a>
    </div id="contenedor">
	<nav class="botonera" id="mainNav">
		<ul>
			<li>
				<a href="../views/productos.html">Productos</a>
			</li>
			<li>
				<a href="../views/promociones.html">Promociones</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	</header>
	<!-- ends header-->
	<main id="productos">
		<div class="galeria">
			<h1>Productos</h1>
				<figure>
					<img src="../img/franela.jpg" alt="">
					<figcaption>Franela</figcaption>
					<p class="price">$100</p>
				</figure>
				<figure>
					<img src="../img/jabon liquido.jpeg" alt="">
					<figcaption>Jabon Liquido</figcaption>
					<p class="price">$250</p>
				</figure>
				<figure>
				    <img src="../img/lavadina.jpg" alt="">
					<figcaption>Lavandina</figcaption>
					<p class="price">$90</p>
				</figure>
				<figure>
					<img src="../img/esponja.jpg" alt="">
					<figcaption>Esponja</figcaption>
					<p class="price">$50</p>
				</figure>
				<figure>
					<img src="../img/escoba.webp" alt="">
					<figcaption>Escoba</figcaption>
					<p class="price">$120</p>
				</figure>
		   </div>
		   </main>
		 <section class="bgRed" id="section2">
		      <form action="">	
					<h2>Tipo de envio</h2>
					<label for="local">Retiro en el local</label>
					<input type="radio" id="local" value="local" name="envio">
					<br>
					<label for="casa">Envio a domicilio</label>
					<input type="radio" id="casa" value="casa" name="envio">
					<br>
					<label for="localidad">Provincia</label>
					<select name="" id="">name="" id="localidad">
						<option value="CABA">Ciudad de BS AS</option>
						<option value="BSAS">Provincia de BS AS</option>
						<option value="interior">Interior del pais</option>
						</select>

		</section>
		<section class="bgYellow" id="section3">
				<h3>Deje su opinion</h3>
				<textarea name="" id="mensaje" cols="30" rows="10"></textarea>
				<input type="reset" value="Cancelar">
				<input type="submit" value="Enviar">
		</section>

			</form>
		</section>
		<!--ends form-->
		<section></section>
		<!--ends map-->
    
    <footer id="footer">
    	<h4>Seguinos en nuestras redes</h4>
    	<div class="divRedes">
    		<a href="https://www.facebook.com" target="_blank">
    		<img src="../img/facebook.png" alt="">
    	</a>
      
    	<a href="https://www.twitter.com" target="_blank">
    		<img src="../img/twitter.png" alt="">
    	</a>
    	</div>
    </footer>
    </div>
</body>