<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="promociones,productos">
    <meta name="description" content="en esta seccion se pueden ver las mejores promociones de la pagina">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- mi css -->
    <link rel="stylesheet" href="../css/estilo.css">
    <!-- end css -->
   <title>El Galpon-Productos de limpieza</title>
  </head>
  <!-- inicia nav -->
  <nav class="navbar navbar-expand-lg navbar-light bg-vlue">
  <div class="container-fluid">
    <a class="navbar-brand" href="../index.html">El Galpon</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="../views/productos.html">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/promociones.html">Promociones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/contacto.html">Contacto</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
        </li>
     </ul>
       </ul>
    </div>
  </div>
</nav>
  <!-- ends nav -->
  <main>
      <section class="py-3">
        <div class="container-fluid">
          <h1>Promociones</h1>
      <div class="row">       
       <article class="col-sm-12 col-md-6 col-lg-3">
          <img src="../img/combo1.webp" alt="" class="w-100 d-block">
          <h2>Combo1</h2>
          <p>5L Jabon liquido,5L Suavizante,5L lavandina Precio Final 500$</p>
        </article>
         <article class="col-sm-12 col-md-6 col-lg-3">
          <img src="../img/combo2.jpg" alt="" class="w-100 d-block">
          <h2>COMBO 2</h2>
          <p>5L Jabon Liquido+ 5L Suavizante + 5L lavandina + 5L Desodorante para piso Precio Final 600$</p>
        </article>
         <article class="col-sm-12 col-md-6 col-lg-3">
          <img src="../img/combo3.jpg" alt="" class="w-100 d-block">
          <h2>Combo 3 Premium</h2>
          <p>5L Jabon Liquido+ 5L Suavizante + 5L lavandina + 5L Desodorante para piso Precio Final 750$</p>
        </article>   
      </div>
       </div>      
      </section>
    </main>
    
  
    
     <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    <footer id="footer">
      <h4>Seguinos en nuestras redes</h4>
      <div class="divRedes">
        <a href="https://www.facebook.com" target="_blank">
        <img src="../img/facebook.png" alt="">
      </a>
      
      <a href="https://www.twitter.com" target="_blank">
        <img src="../img/twitter.png" alt="">
      </a>
      </div>
    </footer>
    </div>
</body>