<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>EL GALPON-Productos de limpieza</title>
	<link rel="stylesheet" href="../css/style.css">
	<link rel="shortcut icon" href="../img/favicon.png">
</head>
<body>
	<header class="header1">
	  <div class="divLogo">
	    <a href="../index.html">
		<img src="../img/logo.png" alt="logo de EL GALPON productos de limpieza">
		</a>
		</div>
		<nav>
		<ul>
			<li>
				<a href="../views/productos.html">Productos</a>
			</li>
			<li>
				<a href="../views/promociones.html">Promociones</a>
			</li>
			<li>
				<a href="../views/contacto.html">Contacto</a>
			</li>
			<li>
				<a href="../views/nosotros.html">Nosotros</a>
			</li>
		</ul>
	</nav>
	<!-- ends nav -->
	
		</header>
	<!-- ends header-->
	<main>
		<h1>Promociones</h1>
		<section class="textCenter bgRed textBlack">
		<h2>Combo 1</h2>
		<img src="../img/combo1.webp" alt="">
		<p class="textBold">5l Jabon Liquido
			5l Suavizante
			5l Lavandina
			Total :$500
		</p>
		</section>
		<section class="textCenter bgBlue textWhite">
			<h3>Combo 2</h3>
			<img src="../img/combo2.jpg" alt="">
			<p>
				5l Jabon Liquido,5L Suavizante,5l Lavandina,5l Desodorante para piso .Total:$690
			</p>
		</section>
		<section class="textCenter bgYellow textBlack">
			<h4>Combo 3 Premium</h4>
			<img src="../img/combo3.jpg" alt="">

			<p>5l Jabon Liquido+5l 5l Suavizante+5l Lavandina+5l Desodorante para piso Total:$800 </p>
		</section>
    </main>
    <footer>
    	<h5>Seguinos en nuestras redes</h5>
    	<div class="divRedes">
    		<a href="https://www.facebook.com" target="_blank">
    		<img src="../img/facebook.png" alt="">
    	</a>
        <div>
    	<a href="https://www.twitter.com" target="_blank">
    		<img src="../img/twitter.png" alt="">
    	</a>
    	
    </footer>
</body>